/*.aux
/*.dvi
/*.log
/*.pdf
/.wisdom
/attic
/a.out
/Complex.h
/dealias.asy
/dealias.atfi
/dealias.out
/dealias2d.eps
/dns.asy
/fftw++.cc
/fftw++.h
/out.*
/padded
/precision.h
/timing.eps
/unpadded
/wisdom3.txt
