/*.aux
/*.dvi
/*.log
/*.pdf
/*.out
/*.blg
/*.bbl
/.wisdom
/attic
/Complex.h
/dealias.asy
/dealias.atfi
/dealias.out
/dealias2d.eps
/dns.asy
/out.*
/padded
/precision.h
/timing.eps
/unpadded
/wisdom3.txt
/cyrc_*.eps
/cyrc10.eps
/rmp2.bst
/dealias.blg
/dealias.bbl
/diamond.eps
/refs.bib
/mdns.asy
/grids.eps
